<div class="mt-4">
    <form method="GET">
        <div class="form-group">
            <label>Nhập từ khóa</label>
            <input name="q" type="text" class="form-control"placeholder="Search for....">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>